$primary-color-dark: #455a64 !default;
$primary-color: #607d8b !default;
$primary-color-text: #ffffff !default;

$background: #fff !default;

$mdc-theme-primary: $primary-color-dark;
$mdc-theme-secondary: $primary-color;
$mdc-theme-background: $background;
