@import "~@ng-select/ng-select/themes/material.theme.css";

ng-select select-dropdown > div {
    z-index: 2;
}

@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/color-web-safe";
@import "./scss/file";
@import "./scss/deck";

@import "./scss/angular-tree-component";

.mdc-typography {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.mdc-list-item__primary-text {
    white-space: normal !important;
    width: 100%;
}