// @import "../projects/df-components/src/theme";
// @import "~@angular-mdc/theme/material";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";

$primary-color-dark: #123456;

// .datatable-header {
//   height: 50px !important;
// }

// .datatable-header-inner {
//   width: 100% !important;
// }

// .datatable-header-cell {
//   width: 100% !important;
// }
// .datatable-row-center {
//   width: 100% !important;
// }
// .datatable-body-row {
//   height: 50px !important;
//   width: 100% !important;
// }
// .datatable-scroll {
//   width: 100% !important;
// }
// .datatable-body-cell {
//   width: 100% !important;
// }

.ngx-datatable,
.info {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

.info {
  box-sizing: border-box;
  padding: 0 1em;
  border: solid 1px #ccc;
  background: white;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.ngx-datatable.scroll-vertical {
  height: 70vh;
}
